<!DOCTYPE html>
<html lang="en">
  <head>
  <html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  
    <title>Programando Comunidades</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/inicio.css" />
  </head>
  <body>
    <!-- Content here -->

    <nav class="barra">
      <img src="/logo.png" alt="logo" class="logo">
      <button class="ingresar">Ingresar</button>
      <a href="/quienesomos"> <button class="qs">¿Quienes somos?</button></a>
    </nav>

    <div class="contenido">
      <img src="/foto-inicio.png" alt="fondo-programacion" />
      <div class="descripcion">
      <h1 class="titulo">
        Lorem ipsum dolor, sit amet consectetur amet
      </h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. A magnam
        accusantium repellendus, quaerat tevoluptatum dolorum odit, ducimus modi
        est hic fugiat voluptas repellat iste dolore. ducimus modi
        est hic fugiat voluptas repellat iste dolore.
      </p>
    </div>
    
    </div>

	
		<div class="boton">
		<div class="row">
		 <div class="col-sm-3"></div>
		 <div class="col-sm-6"><h1 class="titulo-botones">Elegí como registrarte</h1></div>
		 <div class="col-sm-1"></div>
		</div>
		
		
		<div class="row">
		 <div class="col-sm-1  col-md-1 col-xs-1"></div>
		 <div class="col-sm-5  col-md-5 col-xs-5"><img class="developer-icono" src="/logo-developer.png" alt=""></div>
		 <div class="col-sm-5  col-md-5 col-xs-5"><img class="ong-icono" src="/logo-ong.png" alt=""></div>
		 <div class="col-sm-1  col-md-1 col-xs-1"></div>
		</div>
		
		
		
		
				 
		
		<div class="row"
		 <div class="col-sm-3 col-md-3 col-xs-3"></div>
		 <div class="col-sm-4 col-md-4 col-xs-4"><a href="/registrodev" ><button class="developer">Developer</button></a></div>
		 <div class="col-sm-4 col-md-4 col-xs-4"><a href="/ong/crearong"><button class="ong">ONG</button></a></div>
		 <div class="col-sm-1 col-md-1 col-xs-1"></div>
		</div>
		</div>
		

		
		

<!--
    <div class="boton">
      <div class="roles">
        <div class="dev">
        <img class="developer-icono" src="../static/icono-developer.png" alt="">
        	<a class="developer btn" th:href="@{/registrodev}">Developer </a>

      </div>
       
        <div class="gno">
        <img class="ong-icono" src="../static/icono-ong.png" alt="">
        <button class="ong">ONG</button>
      </div>
      </div>
    </div>
     -->
    <footer>
      Contacto:
      <i class="fab fa-instagram fa-2x"></i>
      <i class="fab fa-facebook fa-2x"></i>
      <i class="fab fa-linkedin fa-2x"></i>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>