<!DOCTYPE html>
<html lang="en">

<head>
  <title>Programando Comunidades</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/listaproyecto.css" />
</head>

<body>

  <div class="contenedor">
    <nav class="barra">
      <img src="/logo.png" alt="logo" class="logo">
      <a href="/principal"><button class="ingresar">Volver</button></a>
    </nav><br>
    <h1>Proyectos disponibles</h1>
    <div class="row">
      <div class="col-sm-3">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat autem atque sunt vel repudiandae labo
          aliquid iste, laboriosam inventore. Numquam odio inventore doloribus id similique voluptatum cupiditate a vel
          ducimus.</h2>
    </div>
      <div class="col-sm-9">
        <div class="centrar">
          <div class="col-sm-8">
            <div th:each="proyecto : ${listaProyecto} ">
              <h2 th:text="${proyecto.titulo}"></h2>
              <h2 th:text="${proyecto.marca}"></h2>
              <h2 th:text="${proyecto.fecha_post}"></h2>
              <p th:text="${proyecto.cuerpo}"></p>
              <!--<p th:class="(${proyecto.developer = 6}?)" th:style="'border: green solid 5px;'">Cantidad develop</p> -->
            </div>
      </div>
    </div>
      <!-- <div class="centrar">
			<h1>Libros</h1>
		<div th:each="libro : ${libros}">
			<div th:class="(${libro.alta == true}? libro-ind:libro-borde)" >
			<h1>Título</h1>
		 	<h2 th:text="${libro.titulo}"></h2>
		 	<h1>Autor</h1>
			<h2 th:text="${libro.autor.nombre}"></h2>
			<h1>Editorial</h1>
			<h2 th:text="${libro.editorial.nombre}"></h2>
			</div>
		</div>
-->
  </div>


  

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>