<!DOCTYPE html>
<html lang="en">

<head>
    <title>¿Quiénes Somos?</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/quienessomos.css" />
</head>

<body>
    <nav class="barra">
        <img class="logo" src="/logo.png" alt="logo" />
        <button class="ingresar">Volver</button>
    </nav>
    <!--<nav><a href="/"><button>Volver</button></a></nav>-->

    <div class="contenedor">
        <div class="row">
            <div class="col-md-3">
                <h1>¿Quiénes somos?</h1>
                <p class="rol">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
                    ullam rem quis ipsa voluptates tempore dolores libero
                    voluptate,nulla ipsam voluptatibus, odit minus, ducimus nesciunt in
                    iste mollitia maiores architecto. Lorem ipsum dolor sit amet
                    consectetur, adipisicing elit. Facere accusantium ab, labore ea,
                    repudiandae ratione maxime quasi minima excepturi omnis aliquid.
                    Nisi esse commodi obcaecati ab consectetur, facilis rem quibusdam
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
                    a neque enim repellat tenetur error provident placeat! Obcaecati
                    quae reprehenderit ducimus voluptatum, quaerat magnam minima sunt
                    architecto tempora id esse.
                </p>
            </div>
            <div class="col-md-9">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <div>
                                    <div class="avatar">
                                        <img class="integrantes" src="/Adri.jpg" alt="">
                                    </div>
                                    <div>
                                         <i class="fab fa-linkedin"><h6 class="nombre" style="font-weight: bold">Adrian Fernandez Rosa</h6><br />
                                       <h6 class="rol">Director</h6></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div>
                                <div>
                                    <div class="avatar">
                                        <img class="integrantes" src="/Tami.jpg" alt="">
                                    </div>
                                    <i class="fab fa-linkedin"><h6 class="nombre" style="font-weight: bold">Tamara Peñaranda</h6>
                                    <h6 class="rol">Vicedirectora</h6></i>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div>
                                <div>
                                    <div class="avatar">
                                        <img class="integrantes" src="/Lu.jpg" alt="">
                                    </div>
                                    <i class="fab fa-linkedin"><h6 class="nombre" style="font-weight: bold">Lucia Bagnis</h6><br />
                                    <h6 class="rol">Lider de Frontend </h6></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br /><br />



                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <div>
                                    <div class="avatar">
                                        <img class="integrantes" src="/Nardo.jpg" alt="">
                                    </div>
                                     <i class="fab fa-linkedin"><h6 class="nombre" style="font-weight: bold">Luciano Nardelli</h6><br />
                                   </i><h6 class="rol">Lider de Backend</h6></i>
                                </div>
                            </div>
                        </div>





                        <div class="col-md-4">
                            <div>
                                <div>
                                    <div class="avatar"><img class="integrantes" src="/Pame.jpg" alt=""></div>
                                   <i class="fab fa-linkedin"><h6 class="nombre"style="font-weight: bold">Pamela Pacho</h6><br/>
                                    <label class="rol">Lider en manejo de BDD</label></i>
                                </div>
                            </div>
                        </div>




                        <div class="col-md-4">
                            <div>
                                <div>
                                    <div class="avatar">
                                        <img class="integrantes" src="/Nai.jpg" alt="">
                                    </div>
                                    <i class="fab fa-linkedin"><h6 class="nombre" style="font-weight: bold">Naiara Belen Roldan</h6><br />
                                    <h6 class="rol">Directora en Vistas</h6></i>
                                </div>
                            </div>
                        </div>
                    </div>




                    <br /><br /><br />
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <div>
                                    <div class="avatar">
                                        <img class="integrantes" src="/Karen.jpg" alt="">
                                    </div>
                                    <i class="fab fa-linkedin fa-x">
                                        <h6 class="nombre" style="font-weight: bold">Karen Hoffman</h6>
                                        <h6 class="rol">Directora en seguridad</h6>
                                    </i>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div>
                                <div>
                                    <div class="avatar">
                                        <img class="integrantes" src="/Joel.jpg" alt="">
                                    </div>
                                    <i class="fab fa-linkedin"><h6 class="nombre" style="font-weight: bold">Joel Visdomine</h6><br />
                                    <h6 class="rol">Diseñador</h6></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <div>
                                    <div class="avatar">
                                        <img class="integrantes" src="/Fede.jpg" alt="">
                                    </div>
                                    <i class="fab fa-linkedin"><h6 class="nombre" style="font-weight: bold">Federico Duarte</h6><br />
                                    <h6 class="rol">Director</h6></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>Contacto:
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-linkedin"></i>

    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>