<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">

<head>
    <title>Programando Comunidades</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/registro.css" />
</head>

<body>
    <!-- Content here -->

    
        <nav class="barra">
            <img src="/logo.png" alt="logo" class="logo">
            <a href="/"><button class="ingresar">Volver</button></a>
        </nav>
          	<div th:if="${error}!=null" class="card">
					<div class="card-body">
						<p class="card-text" th:text="${error}"></p>
					</div>
		</div>
        <div class="contenedor">
      
            <div class="centrar">
                <form action="/registrodev/cargardev" enctype="multipart/form-data" method="post">
                    <div class="form-group"><label for="nombre">Nombre</label><input type="text" name="name"></div>
                    <div class="form-group"><label for="apellido">Apellido</label><input type="text" name="apellido"></div>
                    <div class="form-group"><label for="telefono">Teléfono</label><input type="text" name="tel"></div>
                    <div class="form-group"><label for="email">Email</label><input type="email" name="user"
                            placeholder="asd@asd.com"></div>
                    <div class="form-group"><label for="contrasena">Contraseña</label><input type="password" name="pass"></div>
                    
                    <br>
                    
                  	 <div class="form-group" style="margin-bottom:70px" >
                     <input type="file" name="file" class="boton"> 
                     </div>
                   
                   <!-- <div class="form-check" >

                       
                    <input class="form-check-input" type="checkbox" value="java" id="flexCheckDefault" name="lenguajes">
                    <label class="form-check-label" for="tecnologia">
                        Java
                    </label><br>


                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="tecnologia">
                        Javascript
                    </label><br>


                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="tecnologia">
                        Phyton
                    </label><br>

                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="tecnologia">
                        Html/Css
                    </label><br>

                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="tecnologia">
                        Php
                    </label><br>

                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="tecnologia">
                        Ruby
                    </label>

                </div> -->
					<div class="form-check">
						
					<div th:each="tec: ${listaTec} " >
					
						<input class="form-check-input" type="checkbox" th:value="${tec.lenguaje}"  name="lenguajes" id="flexCheckDefault" >
						<label th:text="${tec.lenguaje}" for="tecnologia" class="form-check-label" ></label>
					
					</div>

					
                   
                  <a th:href="@{/tecnologia/crearTecnologia} "><button type="button" style="background: #7DDE92;border-radius: 20px; text-decoration:none; color:black; 	border: none;"> Ingresar Tecnologia</button></a>
                   </div>
                  
                   <div class="botones">
                        <button class="boton" type="submit">Enviar</button> 
                   <!--  <button class="boton">Cargar foto</button>-->

                       <!-- <a th:href="@{/tecnologia/crearTecnologia} " class="boton">Ingresar Nuevas Tecnologias</a> -->
                    </div>

                </form>  
				 
           
            </div>
        </div>
        <footer>Contacto:
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-linkedin"></i>

        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>